body{
    margin: 0;
}
.intro{
    display: flex;
    font-size: larger;
}
span{
    color: orange;
}
.intro-flex{
    width: 50%;
    padding-left: 5%;
    font-size: larger;
    padding-top: 5%;
}
h1{
    font-size: 60px;
}

.sideborder{
    padding-left: 20px;
    border-left: 5px solid rgb(255, 137, 91);
    font-family: 'Island Moments', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Yeseva One', cursive;
    
}
.link-button{
    background-color: rgb(255, 86, 67);
    color: seashell;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.intro-flex img{
    height: 500px;
    width: auto; 
    padding-left: 5%;
    padding-bottom: 15%;
    margin-top: 5%;
}
.mission{
    display: flex;
}
.mission-flex{
    width: 33%;
    float: left;
    margin: 20px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.mission img{
    height: 200px;
    width: 200px;
}
#background{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: left;
}
#background2{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: right bottom;
}
footer{
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}